html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
      font-family: 'caviar_dreamsregular';
      src: url(../fonts/CaviarDreams-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'fontleroybrownregular';
    src:url(../fonts/FontleroyBrown-webfont.ttf) format('truetype');

}
body{
	 font-family:Arial, Helvetica, sans-serif;
	  background:url(../images/2.jpg) no-repeat center fixed;
     -webkit-background-size: cover;
	 -moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
	 background-position: center;
	 background-size: 100% 100%;
 }
 .wrap {
	width:80%;
	margin: 0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
.header_top {
	background: rgba(0, 0, 0, 0.38);
}
.logo,.logo1 {
	float: left;
}
/** Social Icons **/
.social-icons {
	float: right;
	padding-top:25px;
}
.social-icons li:first-child {
}
.social-icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
}
.social-icons li {
	float: left;
	width: 40px;
	height: 40px;
	background: none;
	padding:0px;
	margin:0 5px;
}
.social-icons li a {
	height: 40px;
	width: 40px;
	display: block;
	text-indent: -9999px;
	background:rgba(0, 0, 0, 0.47) url(../images/social-icons.png);
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	-o-border-radius:30px;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.social-icons a.facebook:hover {
	background-position: 0px bottom;
}
.social-icons a.facebook {
	background-position: 0px top;
}
.social-icons a.twitter {
	background-position: -40px top;
}
.social-icons a.twitter:hover {
	background-position: -40px bottom;
}
.social-icons a.telerikacademy {
	background-position: -440px top;
}
.social-icons a.telerikacademy:hover {
	background-position: -440px bottom;
}
.social-icons a.pinterest {
	background-position: -480px top;
}
.social-icons a.pinterest:hover {
	background-position: -480px bottom;
}
.social-icons a.dribbble {
	background-position: -160px top;
}
.social-icons a.dribbble:hover {
	background-position: -160px bottom;
}
.social-iconst a.dribbble:hover {
	background-position: -160px bottom;
}
.social-icons a.vimeo {
	background-position: -120px top;
}
.social-icons a.vimeo:hover {
	background-position: -120px bottom;
}
.header_bottom {
	background:rgba(0, 0, 0, 0.78);
	position:absolute;
	bottom:0;
	padding:30px 0;
	width:100%;
}
.menu li{
	display:inline-block;
}
.menu li a{
	font-size:3em;
	color:#FFF;
	padding:30px 66px ;
	border-right: 2px ridge rgba(80, 80, 80, 0.41);
	font-family: 'fontleroybrownregular';
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.menu li:nth-child(6) a{
   	border:none;
}
.menu li a:hover{
	color:#FFD700;
}
/**** ABout *******/
.nav{
	float:right;
	margin:36px 0;
}
.nav li{
	display:inline-block;
}
.nav li a{
	font-size:2em;
	color:#FFF;
	padding:30px 25px ;
	border-right: 2px ridge rgba(80, 80, 80, 0.41);
	font-family: 'fontleroybrownregular';
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.nav li a:hover,.nav li.active a{
	color:#FFD700;
}
.nav  li:nth-child(6) a{
   	border:none;
}
.main{
	background:rgba(0, 0, 0, 0.81);
	margin:30px 0;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_3{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_3:first-child { margin-left: 0; }
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_1_of_3  h2{
	font-size:2.8em;
	color:#86AA00;
	font-family: 'fontleroybrownregular';
	line-height:1.2em;
}
.span_1_of_3  h2 span{
	font-size:2em;
	color:#FFF;
}
.span_1_of_3  h3{
	color:#FFF;
	margin-top:20px;
	font-size:1.6em;
	font-family: 'caviar_dreamsregular';
}
.span_1_of_3  p {
	font-size:0.85em;
	padding:5px 0;
	color:#CECECE;
	line-height: 1.8em;
}
/**** Menu Timmings *****/
.menu_timmings{
	padding:30px 0;
}
.menu_timmings li{
	display: block;
	margin-bottom: 25px;
	padding-bottom: 20px;
	border-bottom:1px dashed rgba(255, 255, 255, 0.18);
}
.menu_timmings li .txt1 {
	color: #9F9F9F;
	font-size:3em;
	display: block;
	text-align: center;
	font-family: 'fontleroybrownregular';
	line-height:10px;
}
.menu_timmings li .txt2.color1 {
	color:#7ECEFD;
}
.menu_timmings li .txt2.color2 {
	color:#86AA00;
}
.menu_timmings li .txt2.color3 {
	color:#F2762E;
}
.menu_timmings li .txt2.color4 {
	color:#F2F22E;
}
.menu_timmings li .txt2 {
	color: #9F9F9F;
	font-size:4em;
	letter-spacing:1px;
	text-align: center;
	font-family: 'fontleroybrownregular';
}
.event-grid {
	padding: 15px 0px;
	border-bottom:1px solid rgba(218, 218, 218, 0.08);
}
.event_img {
	float: left;
	width: 38%;
	margin-top: 8px;
	border: 3px solid #FFF;
}
.event_img img{
	display:block;
	max-width:100%;
}
.event_desc h4{
	font-size:1em;
	color:#FFF;
	font-family: 'caviar_dreamsregular';
	text-transform:uppercase;
}
.event_desc h4 span{
	font-size:1.5em;
	color:#86AA00;
}
.event_desc{
	float: right;
	width: 55%;
}
.event_desc p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color:#CECECE;
	line-height: 1.6em;
}
.event_desc p a{
	font-family: Arial, Helvetica, sans-serif;
	color:#86AA00;
	line-height: 1.5em;
}
.event_desc p a:hover{
	color:#888;
}
.view-all a {
	font-family: 'caviar_dreamsregular';
	color:#FFF;
	font-size:1.2em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	float: right;
	margin-top:5px;
}
.view-all a:hover{
	color:#86AA00;
}
.copy_right{
	text-align:center;
	padding:20px 0;
	background:rgba(0, 0, 0, 0.38);
 }
 .copy_right p{
	font-size:0.85em;
	color:#FFF;
	line-height:1.8em;
 }
 .copy_right p a{
   color:#86AA00;
   font-family: 'caviar_dreamsregular';
   text-decoration:underline;
   transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
 }
 .copy_right p a:hover{
 	color:#FFF;
	text-decoration:none;
 }
/***** Events *******/
.events{
	padding:50px 0;
}
.events h2{
	font-size:4em;
	color:#FFF;
	font-family: 'fontleroybrownregular';
    padding:0 25px;
}
.grid_1_of_3{
	display: block;
	float:left;
	margin: 1% 0 0% 1.6%;
}
.grid_1_of_3:first-child { 
	margin-left: 0; 
} 
.events_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.events_1_of_3 img{ 
	border:5px solid #FFF;
	border: 5px solid #FFF;
	max-width: 100%;
	display: block;
	width: 97%;
}
.event-img{
	position:relative;
}
.events_1_of_3 a span {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height:7em;
	color: #fff;
	font-family: 'fontleroybrownregular';
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	font-size:2em;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgba(64, 72, 109, 0.61);
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.events_1_of_3 a:hover span {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.event-time{
	margin:15px 0;
}
.event-time h4{
	font-size:1em;
	color:#FFF;
	font-family: 'caviar_dreamsregular';
	text-transform:uppercase;
	letter-spacing:1px;
}
.event-time h4 span{
	font-size:1.5em;
	color:#86AA00;
}
/***** Blog*****/
.blog h2 {
	font-size:4em;
	color: #FFF;
	font-family: 'fontleroybrownregular';
	padding:25px 0 0 25px;;
}
.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding: 1.5%;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid {
	display: block;
	float:left;
	margin: 0% 0 0% 1.6%;
}
.grid:first-child { margin-left: 0; }
.blog-leftgrids{
	padding-top:10px;
}
.blog-desc{
	width: 66.1%;
}
.images_3_of_1 {
	width: 30.2%;
	border:5px solid #FFF;
}
.images_3_of_1  img {
	max-width:100%;
	display:block;
}
.blog-desc h4{
	font-size:1em;
	color:#FFF;
	font-family: 'caviar_dreamsregular';
	text-transform:uppercase;
	padding-bottom:8px;
}
.blog-desc h4 span{
	font-size:1.5em;
	color:#86AA00;
}
.blog-desc h4 a.post{
   font-size:1em;
   text-decoration:underline;
   color:#c0c0c0;  	
}
.blog-desc h4 a.post:hover{
   	color:#86AA00;
   	text-decoration:none;
}
.blog-desc  p {
	font-size:0.85em;
	color:#C0C0C0;
   line-height:1.8em;
   padding-top:5px;
}
.button{
	display: inline-block;
	background:#86AA00;
	color: #FFF;
	text-decoration: none;
	padding:8px 15px;
	font-size:1em;
	margin-top:10px;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.button:hover {
	  text-shadow: 0px 0px 1px #000;
	  background:#000;
}
/*** Page numbers ***/
.content-pagenation{
	text-align:right;
	padding:35px 0;
	margin-right:15px;
}
.content-pagenation li {
	display: inline-block;
}
.content-pagenation li a {
	color:#86AA00;
	font-size: 0.8em;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	background:#FFF;
	padding: 10px 12px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.content-pagenation li a:hover{
	background:#86AA00;
	color:#FFF;
}
/***** Contact ****/
.contact{
	padding:50px 0;
}
.contact_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.contact_1_of_3 h3{
	color:#FFF;
	font-size:4em;
	font-family: 'fontleroybrownregular';
	margin-bottom:30px;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:6px 0;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:95%;
			background:rgba(5, 5, 5, 0.22);
			border: none;
			outline:none;
			color:#C9C9C9;
			font-size:1em;
			font-family:Arial, Helvetica, sans-serif;
			box-shadow: inset 0px 0px 3px #999;
			-webkit-box-shadow: inset 0px 0px 3px #999;
			-moz-box-shadow: inset 0px 0px 3px #999;
			-o-box-shadow: inset 0px 0px 3px #999;
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	padding: 8px 15px;
	font-size: 1em;
	text-transform: uppercase;
	color:#FFF;
	cursor:pointer;
	background:#86AA00;
	text-decoration: none;
	outline: 0;
	border:none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    right:0;
}
.contact-form input[type="submit"]:hover{
	background-color:#000;
}
.company_address p{
	font-size:0.85em;
	color:#FFF;
	padding:5px 0;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.company_address p span{
	text-decoration:underline;
	color:#AAA;
	cursor:pointer;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}
/**** Responsive Layout ****/
@media only screen and (max-width: 1024px) {
	.wrap {
		width: 90%;
	}
	.menu li a{
		padding:30px  35px;
	}
	.nav li a{
		padding:30px 15px;
	}
	.span_1_of_3 h2{
		font-size:2.5em;
	}
	.event-time h4 span{
		font-size:1.2em;
	}
	.event_desc h4 span{
		font-size:1.2em;
	}
	.events_1_of_3 a span{
		line-height:5em;
	}
	.span_1_of_3 {
		width: 95%;
	}
	.event_img {
		width: 23%;
	}
	.event_desc {
		width: 72%;
	}
	.span_1_of_3 h2 span {
		font-size: 1.8em;
	}
	.blog-desc h4 span {
		font-size: 1.3em;
	}
	.contact_1_of_3 h3 {
		font-size: 3.5em;
	}
}
@media only screen and (max-width: 991px) {
	.event-time h4 span {
		font-size: 1.1em;
	}
	.event-time h4 {
		font-size: 0.95em;
	}
	.events_1_of_3 a span {
		line-height: 4em;
	}
}
@media only screen and (max-width: 900px) {
	.logo {
		width: 36%;
	}
	.logo1 {
		float: none;
		text-align: center;
	}
	.menu li a {
		padding: 30px 29px;
	}
	.menu_timmings li .txt2 {
		font-size: 3.6em;
	}
	.span_1_of_3 h2 span {
		font-size: 1.7em;
	}
	.span_1_of_3 h3 {
		font-size: 1.5em;
	}
	.menu_timmings li .txt1 {
		font-size: 2.8em;
	}
	.nav li a {
		padding: 30px 39px;
	}
	.nav {
		float: left;
		margin: 36px auto;
		width: 100%;
	}
	.events h2 {
		font-size: 3.5em;
	}
	.blog-desc h4 {
		font-size: 0.9em;
	}
	.contact_1_of_3 h3 {
		font-size: 3.2em;
	}
}
@media only screen and (max-width: 800px) {
	.wrap {
		width: 95%;
	}
	.menu li a{
		padding:30px  22px;
	}
	.nav li a{
		padding:10px 5px;
	}
	.nav li a {
		padding: 30px 33px;
		font-size: 2.2em;
	}
	.span_1_of_3 h2 span {
		font-size: 1.6em;
	}
	.span_1_of_3 {
		width: 94%;
		padding: 3%;
	}
	.col_1_of_3{
		margin:0px 0;
	}
	.menu_timmings{
		padding:0;
	}
	.event_desc h4{
		padding:5px 0;
	}
	.event-time h4 span{
		font-size:1em;
	}
	.contact_1_of_3 h3{
		font-size:3em;
	}
	.social-icons {
		padding-top: 17px;
	}
	.blog h2 {
		font-size: 3.5em;
	}
	.button {
		padding: 6px 13px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 768px) {
	.nav li a {
		padding: 30px 30px;
	}
	.menu_timmings li .txt1 {
		font-size: 2.6em;
	}
	.menu_timmings li .txt2 {
		font-size: 3.2em;
	}
	.events h2 {
		font-size: 3.3em;
	}
	.images_3_of_1 {
		width: 50%;
	}
	.blog-desc {
		width: 66.1%;
		margin: 1em 0;
	}	
	.blog-desc {
		width: 100%;
	}
	.image {
		padding: 1em 2em;
	}
	.contact_1_of_3 {
		width: 93%;
		padding: 1em 2em 1em;
	}
}
@media only screen and (max-width: 736px) {
	.menu li a {
		font-size: 2.8em;
	}
	.nav li a {
		padding: 30px 28px;
	}
	.events_1_of_3 {
		width: 46.2%;
	}
	.events_1_of_3 a span {
		line-height: 5em;
	}
	.blog-desc h4 span {
		font-size: 1.2em;
	}
	.contact_1_of_3 h3 {
		font-size: 2.8em;
	}
}
@media only screen and (max-width:667px) {
	.menu li a {
		padding: 30px 16px;
	}
	.nav li a {
		padding: 30px 22px;
	}
	.menu_timmings li .txt1 {
		font-size: 2.4em;
	}
	.menu_timmings li .txt2 {
		font-size: 3em;
	}
	.span_1_of_3 h2 span {
		font-size: 1.5em;
	}
	.images_3_of_1 {
		width: 65%;
	}
	.contact_1_of_3 {
		width: 90%
	}
}
@media only screen and (max-width: 640px) {
	.wrap {
		width: 95%;
	}
	.logo{
		width:40%;
	}
	.social-icons{
		padding-top:15px;	
    }
    .menu li a {
		font-size: 2.5em;
		padding: 30px 16px;
	}
	.nav{
		margin:25px 0;
	}
	.nav li a {
		padding: 30px 20px;
	}
	.grid_1_of_3{
		margin:0;
	}
	.blog-desc h4 span{
		font-size:1.2em;
	}
	.contact_1_of_3 {
		width:94%;
		padding:3%;
	}
	.contact_1_of_3 h3{
		margin-bottom:15px;
	}
	.menu_timmings li{
		padding-bottom:5px;
	}
	.content-pagenation li a {
		padding: 7px 11px;
	}
}
@media only screen and (max-width: 600px) {
	.menu li a {
		font-size: 2.4em;
	}
	.nav li a {
		padding: 30px 17px;
	}
	.span_1_of_3 h2 span {
		font-size: 1.4em;
	}
	.logo1 {
		width: 52%;
		margin: 0 auto;
	}
	.event_desc h4 span {
		font-size: 1.1em;
	}
	.event_desc h4 {
		font-size: 0.9em;
	}
	.menu_timmings li .txt2 {
		font-size: 2.85em;
	}
	.events {
		padding: 25px;
	}
	.events_1_of_3 a span {
		line-height: 4em;
	}
	.images_3_of_1 {
		width: 90%;
	}
}
@media only screen and (max-width: 568px) {
	.menu li a {
		font-size: 2.2em;
	}
	.nav li a {
		padding: 30px 14px;
	}
	.span_1_of_3 h3 {
		font-size: 1.4em;
	}
	.contact_1_of_3 h3 {
		font-size: 2.6em;
	}
}
@media only screen and (max-width: 480px) {
	.wrap {
		width: 90%;
	}
	.logo,.social-icons{
		float:none;
		width:100%;
		text-align:center;
		padding:0;
	}
	.social-icons li{
		float:none;
		display:inline-block;
	}
	.menu li a {
		font-size:2em;
	    padding: 25px 9px;
	}
	.nav{
		float:none;
		margin:0px 0 10px 0;
		text-align:center;
	}
	.nav li a {
		font-size: 2em;
		padding: 10px 8px;
	}
	.image{
		padding:3%;
	}
	.header_top{
		padding-bottom:10px;
	}
	.images_3_of_1,.blog-desc{
		width:100%;
	}
	.blog-desc{
		margin-top:10px;
	}
	.events_1_of_3 a span{
		line-height:7em;
	}
	.menu_timmings li .txt1 {
		font-size: 2.3em;
	}
	.logo1 {
		padding: 1em 0;
	}
	.events_1_of_3 {
		width: 96%;
	}
	.events h2 {
		font-size: 3em;
		padding: 0;
	}
	.events_1_of_3 a span {
		line-height: 6em;
	}
	.images_3_of_1, .blog-desc {
		width: 90%;
	}
}
@media only screen and (max-width: 414px) {
	.menu li a {
		font-size: 1.8em;
		padding: 20px 6px;
		letter-spacing: 0.3px;
	}
	.logo img {
		width: 77%;
	}
	.logo1 {
		width: 60%;
	}
	.menu_timmings li .txt2 {
		font-size: 2.85em;
	}
	.span_1_of_3 h2 span {
		font-size: 1.3em;
	}
	.event_desc h4 {
		font-size: 0.8em;
	}
	.nav li {
		display: block;
		margin: 1em 0;
	}
	.nav li a{
		border-bottom:2px ridge rgba(80, 80, 80, 0.41);
		border-right:none;
	}
	.menu_timmings li .txt2 {
		font-size: 2.6em;
	}
	.event_img {
		width: 60%;
	}
	.event_desc {
		width: 95%;
		float: left;
	}
	.event-grid {
		padding: 15px;
	}
	.events_1_of_3 a span {
		line-height: 5em;
	}
	.events h2 {
		font-size: 2.8em;
	}
	.blog-desc h4 span {
		font-size: 1em;
	}
	.grid.blog-desc {
		width: 96%;
	}
	.contact-form input[type="submit"] {
		padding: 6px 13px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 384px) {
	.menu li a {
		padding: 11px 6px;
		border-bottom: 2px ridge rgba(80, 80, 80, 0.41);
		border-right:none;
	}
	.menu li {
		display: block;
		text-align: center;
		margin: 1em 0;
	}
	.menu_timmings li .txt1 {
		font-size: 2.1em;
	}
	.event-time h4 span {
		font-size: 1.1em;
	}
}
@media only screen and (max-width: 375px) {
	.span_1_of_3 h3 {
		font-size: 1.3em;
	}
	.event_desc {
		width: 86%;
		padding: 1em 0;
	}
	.contact_1_of_3 h3 {
		font-size: 2.4em;
	}
}
@media only screen and (max-width: 320px) {
	.wrap {
		width: 95%;
	}
	.social-icons li{
		margin:0 2px;
	}
	.logo1 {
		width: 70%;
	}
	.span_1_of_3 h2 {
		line-height:1em;
		margin-top: 10px;
	}
	.view-all a {
		font-size: 1em;
	}
	.event_desc {
		width: 100%;
	}
	.span_1_of_3 h3 {
		margin-top:10px;
		font-size:1.2em;
	}
	.menu_timmings li{
		padding-bottom:10px;
	}
	.event_desc h4 span{
		font-size:1.2em;
	}
	.event-time h4 span{
		font-size:1.2em;
	}
	.event-time{
		margin:5px 0;
	}
	.blog-desc h4{
		font-size:.8em;
	}
	.contact{
		padding:20px 0;
	}
	.event-time h4 span {
		font-size: 1em;
	}
	.event-time h4 {
		font-size: 0.81em;
	}
	.events_1_of_3 {
		margin: 0.3em 0;
	}
}
