<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/slider.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/slidermodernizr.custom.js"></script>
</head>
<body>
<!------ Background slider ------->
<div class="slider">
    <ul id="cbp-bislideshow" class="cbp-bislideshow">
        <li><img src="images/1.jpg" alt="image01"/></li>
        <li><img src="images/2.jpg" alt="image02"/></li>
        <li><img src="images/3.jpg" alt="image03"/></li>
        <li><img src="images/4.jpg" alt="image04"/></li>
        <li><img src="images/5.jpg" alt="image05"/></li>
        <li><img src="images/6.jpg" alt="image06"/></li>
    </ul>
    <script src="js/jquery.imagesloaded.min.js"></script>
    <script src="js/cbpBGSlideshow.min.js"></script>
    <script>
        $(function () {
            cbpBGSlideshow.init();
        });
    </script>
</div>
<!------ End Background slider ------->
<div class="header_top">
    <div class="wrap">
        <div class="logo1">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/beers">List of Beers</a></li>
                <li><h3><a href="users" th:text="#{home.users}">Users</a></h3></li>
                <li><a href="register" th:text="#{home.register}">Register</a></li>

<!--                <h3><a href="register" th:text="#{home.register}">Register</a></h3>-->
<!--                <form th:action="@{/logout}" method="post">-->
<!--                    <input type="submit" value="Logout">-->
<!--                </form>-->
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="wrap">
    <div class="main">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h2><span>welcome</span></h2>
                <h2>To Beer Tag</h2>
                <h3>Beer Tag is made up of a rich collection of characters from all over the world</h3>
                <p> Beer: Nectar of the gods. There are as many epithets as there are varieties of the blessed brew. The
                    discovery of
                    beer was, no doubt, pure revelry and perhaps as meaningful to man’s development as the discovery of
                    fire. Pour some history and brewing jargon into your next pint for an understanding far beyond just
                    knowing what kind of beer you like and think differently about your next bottle</p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h2>Registration</h2>
                <input type="button" onclick="location.href='http://localhost:8080/register';"
                       value="Go to Registration"/></button>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h2><span>Latest Beers</span></h2>
                <div class="event-grid">
                    <div class="event_img">
                        <img src="images/event1.jpg" title="post1" alt="">
                    </div>
                    <div class="event_desc">
                        <h4><span>Pirinsko</span></h4>
                        <h4>Jul 2nd, 2019</h4>
                        <p>Random Description,<a href="#">[...]</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="event-grid">
                    <div class="event_img">
                        <img src="images/event2.jpg" title="post1" alt="">
                    </div>
                    <div class="event_desc">
                        <h4><span>Beck's</span></h4>
                        <h4>Jul 2nd, 2019</h4>
                        <p>Random Description,<a href="#">[...]</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="event-grid">
                    <div class="event_img">
                        <img src="images/event3.jpg" title="post1" alt="">
                    </div>
                    <div class="event_desc">
                        <h4><span>Tuborg</span></h4>
                        <h4>Jul 1st, 2019</h4>
                        <p>Random Description,<a href="#">[...]</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="view-all"><a href="#">ViewAll</a></div>
            </div>
        </div>
    </div>

</body>
</html>

