<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Beers</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/beers">List of Beers</a></li>
<li><a href="/beers/create">Create Beer</a></li>
<li><a href="register" th:text="#{home.register}">Register</a></li>
<!--<form action="#" th:action="@{'/employees+?}" th:object="${name}" method="get">-->
<!--<label th:text="#{employees.header.name}">Name</label>-->
<!--<input type="text" th:field="*{name}"/>-->
<!--<input type="submit" value="Filter"/>-->
<!--</form>-->
<!--    <div class="page-header">-->
<!--    <h1>Sort Beers By</h1>-->
<!--</div>-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="btn-group btn-group-primary">
    <button class="btn btn-primary" type="button">List of Beers</button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button"><span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="http://localhost:8080/beers/name">View Beers Alphabetically</a></li>
        <li><a href="http://localhost:8080/beers/abv">View Beers by ABV</a></li>
        <li><a href="http://localhost:8080/beers/rating">View Beers by Rating</a></li>
        <li class="divider"></li>
        <li><a href="http://localhost:8080/">Home Page</a></li>
    </ul>
</div>

<!--<div th:if="${beers.isEmpty()}">-->
<!--    <h2 th:text="#{beers.emptytitle}">No Beers</h2>-->
<!--</div>-->

<div th:unless="${beers.isEmpty()}">
    <h2 th:text="#{beers.title}">Beers</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{beers.header.id}">ID</div>
            <div class="cell" th:text="#{beers.header.name}">Name</div>
            <!--<div class="cell" th:text="#{employees.header.department}">Department</div>-->
        </div>
        <div class="row" th:each="beer : ${beers}">
            <div class="cell" th:text="${beer.id}">1</div>
            <div class="cell" th:text="${beer.averageRating}">Average Rating</div>
            <div class="cell" th:text="${beer.alcoholByVolume}">Alcohol %</div>
            <a th:href="@{/beers/{id}(id=${beer.id})}">
                <div class="cell" th:text="${beer.beerName}">TestBeer</div>
            </a>
            <!--<div class="cell" th:text="${employee.department.name}">Training</div>-->
        </div>
    </div>
</div>

<a href="/">
    <h3 class="cell">Return to Home</h3>
</a>

<!--<div role="main" class="container theme-showcase">-->


</body>
</html>
