<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Beer</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>

<div class="header_bottom">
    <div class="wrap">
        <div class="menu"></form>-->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/beers">List of Beers</a></li>
                <li><h3><a href="/users" th:text="#{home.users}">Users</a></h3></li>
                <li><a href="register" th:text="#{home.register}">Register</a></li>
                <!--                <li><a href="/contact">Contact</a></li>-->
                <!--                <li><a href="/register">Registration</a></li>-->

                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout">
                </form>
                <div class="clear"></div>
            </ul>
        </div>
    </div>

    <form class="form-horizontal" action="#" th:action="@{/beers/create}" th:object="${beer}" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>Beer Tag</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_name">BEER NAME</label>
                <div class="col-md-4">
                    <input id="product_name" name="product_name" placeholder="BEER NAME" class="form-control input-md"
                           required="" type="text" th:field="*{beerName}">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_categorie">SELECT COUNTRY</label>
                <div class="col-md-4">
                    <select th:field="*{country.countryId}" class="form-control" id="dropOperator">-->
                        <option value="0">Select Country</option>
                        <option th:each="country : ${countries}" th:value="${country.countryId}"
                                th:utext="${country.countryName}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="enable_display">BREWERY NAME</label>
                <div class="col-md-4">
                    <input id="enable_display" name="enable_display" placeholder="ENTER BREWERY NAME"
                           class="form-control input-md" required="" type="text" th:field="*{brewery}">
                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_categorie">BEER STYLE</label>
                <div class="col-md-4">
                    <select th:field="*{style.styleId}" id="product_categorie" name="product_categorie"
                            class="form-control">
                        <option value="0">Select Style</option>
                        <option th:each="style : ${styles}" th:value="${style.styleId}"
                                th:utext="${style.styleName}"></option>
                    </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_description">BEER DESCRIPTION</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="product_description" name="product_description"
                              th:field="*{description}"></textarea>
                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="online_date">ALCOHOL BY VOLUME %</label>
                <div class="col-md-4">
                    <input id="online_date" name="online_date" placeholder="ABV %" class="form-control input-md"
                           required="" type="text" th:field="*{alcoholByVolume}">

                </div>
            </div>


            <input type="submit" value="Create Beer"/>


        </fieldset>
    </form>


</body>
</html>