<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a Beer</title>
</head>
<body>
<h2>Create a Beer</h2>
<p>
<!--    <i th:if="${error != null}" th:text="${error}" style="color: red"/>-->
</p>
<form action="#" th:action="@{/beers/create}" th:object="${beer}" method="post">

    <label>Beer name:</label>
    </br>
    <input type="text" th:field="*{beerName}"/>
    </br>
    <label>Description</label>
    </br>
    <input type="text" th:field="*{description}"/>
    </br>
    <label>Alcohol By Volume</label>
    </br>
    <input type="text" th:field="*{alcoholByVolume}"/>
    </br>
    <label>Brewery</label>
    </br>
    <input type="text" th:field="*{brewery}"/>
    </br>
    <label>Country</label>
    </br>
    <input type="text" th:field="*{brewery.country}"/>
    </br>
    <label>Style</label>
    </br>
    <input type="text" th:field="*{style}"/>
    </br></br>
    <input type="submit" value="Create"/>
</form>
<h3><a href="/beers">Beers Page</a></h3>
<h3><a href="/">Home Page</a></h3>
</body>
</html>