<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BeerProfile</title>
<!--    <link rel="stylesheet" href="../css/beerprofile.css">-->
</head>
<body>




<div >
    <p><a th:href="@{{link}(link=${beer.picture})}" target="_blank">
        <img th:src="${beer.picture}" th:alt="${beer.beerName}" width="550" height="350"></a>
    </p>
    <p>
    <div class="cell" th:text="${beer.beerName}">BeerName</div>
    <div class="cell" th:text="${beer.alcoholByVolume}">BeerABV</div>
    <div class="cell" th:text="${beer.averageRating}">AVG rating</div>
    <div class="cell" th:text="${beer.style.styleName}">BeerStyle</div>
    <div class="cell" th:text="${beer.brewery}">Brewery</div>
    </p>
    <p>
        -----------------------------------

    </p>
    <div class="cell" th:text="${beer.description}">Beer Description</div>
</div>

<form sec:authorize="hasRole('ROLE_USER')" th:action="@{/beers/edit/{id}(id=${beer.id})}" method="get">
<div class="rating-picker" rel="stylesheet" href="../css/beerprofile.css">
<!--    <link rel="stylesheet" href="../css/beerprofile.css">-->
    <input type="radio" class="rating-picker__input rating-picker__input--none" checked="checked" name="rating" value="0">

    <div class="rating-picker__container">
        <!--rating-picker__input rating-picker__input--item vmesto rpii-->
        <!--rating-picker__label rating-picker__label--even vmesto rple-->
        <input type="radio" class="rpii" name="rating" value="1" id="rating-1">
        <label class="rating-picker__label" for="rating-1" title="1">1</label>

        <input type="radio" class="rpii" name="rating" value="2" id="rating-2">
        <label class="rple" for="rating-2" title="2">2</label>

        <input type="radio" class="rpii" name="rating" value="3" id="rating-3">
        <label class="rating-picker__label" for="rating-3" title="3">3</label>

        <input type="radio" class="rpii" name="rating" value="4" id="rating-4">
        <label class="rple" for="rating-4" title="4">4</label>

        <input type="radio" class="rpii" name="rating" value="5" id="rating-5">
        <label class="rating-picker__label" for="rating-5" title="5">5</label>

        <input type="radio" class="rpii" name="rating" value="6" id="rating-6">
        <label class="rple" for="rating-6" title="6">6</label>

        <input type="radio" class="rpii" name="rating" value="7" id="rating-7">
        <label class="rating-picker__label" for="rating-7" title="7">7</label>

        <input type="radio" class="rpii" name="rating" value="8" id="rating-8">
        <label class="rple" for="rating-8" title="8">8</label>

        <input type="radio" class="rpii" name="rating" value="9" id="rating-9">
        <label class="rating-picker__label" for="rating-9" title="9">9</label>

        <input type="radio" class="rpii" name="rating" value="10" id="rating-10">
        <label class="rple" for="rating-10" title="10">10</label>

    </div>
</div>
</form>

<h1>-----------</h1>>

<!--<div th:if="${beer.tags.isEmpty()}">-->
<!--    <h2 th:text="#{beers.emptytitle}">No Beers</h2>-->
<!--</div>-->


<h2>Tags</h2>

<div class="table">
    <div class="header">
        <!--<div class="cell" th:text="#{employees.header.department}">Department</div>-->
    </div>
    <div class="row" th:each="tag : ${beer.tags}">
        <div class="cell" th:text="${tag.tagName}">TagName</div>

        <!--<div class="cell" th:text="${employee.department.name}">Training</div>-->
    </div>
</div>
</form>

<h1>
    -------------------------
</h1>



<form sec:authorize="hasRole('ROLE_USER')" th:action="@{/beers/edit/{id}(id=${beer.id})}" method="get">
    <button type="submit" value="Edit Beer" >Edit Beer</button>
</form>


<!--<form th:action="@{/beers/${beer.id}}" method="post">-->
<!--    <button type="submit" value="Delete This Beer" onClick="return confirm('sure?')">Delete This Beer</button>-->
<!--</form>-->

<a href="../beers">
    <h3 class="cell">Return to Beers</h3>
</a>
</body>
</html>
