<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Beers</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="css/slider.css" rel="stylesheet" type="text/css" media="all">
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/slidermodernizr.custom.js"></script>
</head>
 <body>
   <!------ Background slider ------->
 	<div class="slider">
 	      <ul id="cbp-bislideshow" class="cbp-bislideshow">
					<li><img src="images/1.jpg" alt="image01"/></li>
					<li><img src="images/2.jpg" alt="image02"/></li>
					<li><img src="images/3.jpg" alt="image03"/></li>
					<li><img src="images/4.jpg" alt="image04"/></li>
					<li><img src="images/5.jpg" alt="image05"/></li>
					<li><img src="images/6.jpg" alt="image06"/></li>
				</ul>
	   <script src="js/jquery.imagesloaded.min.js"></script>
		<script src="js/cbpBGSlideshow.min.js"></script>
		<script>
			$(function() {
				cbpBGSlideshow.init();
			});
		</script>
	 </div>
	 <!------ End Background slider ------->
	    <div class="header_top">
		 	  <div class="wrap">
				<div class="logo1">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
				</div>
				<div class="nav">
				  <ul>
					  <li><a href="/">Home</a></li>
					  <li><a href="/about">About</a></li>
					  <li><a href="/login">Login</a></li>
					  <li><a href="/beers">List of Beers</a></li>
					  <li><h3><a href="users" th:text="#{home.users}">Users</a></h3></li>
					  <li><a href="register" th:text="#{home.register}">Register</a></li>
					  <div class="clear"></div>
			       </ul>
			    </div>
 				<div class="clear"></div>
 	   		</div>
 	     </div>
	       <div class="wrap">
	        <div class="main">
	        		<div class="events">
	        			<h2>List of All Beers</h2>
	        			<div class="section group">
							<div class="grid_1_of_3 events_1_of_3">
							  <div class="event-time">
								<h4><span>sed quia non numqua</span></h4>
								  <h4>Sep 20Th, 2013</h4>
							  </div>
							     <div class="event-img">
								    <a href="blog.html"><img src="images/event-img1.jpg" alt="" /><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
								<div class="event-time">
								<h4><span>Sed ut perspiciatis</span></h4>
								  <h4>Sep 14TH, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="blog.html"><img src="images/event-img2.jpg" alt="" /><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
								<div class="event-time">
								<h4><span> vel illum qui dolorem</span></h4>
								  <h4>Sep 5TH, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="blog.html"><img src="images/event-img3.jpg" alt="" /><span>Read More</span></a>
							   </div>
							</div>
					   </div>
					   <div class="section group">
							<div class="grid_1_of_3 events_1_of_3">
							  <div class="event-time">
								<h4><span>sed quia non numqua</span></h4>
								  <h4>Sep 20Th, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="blog.html"><img src="images/event-img4.jpg" alt="" /><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
								<div class="event-time">
								<h4><span>Sed ut perspiciatis</span></h4>
								  <h4>Sep 14TH, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="blog.html"><img src="images/event-img5.jpg" alt="" /><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
								<div class="event-time">
								<h4><span> vel illum qui dolorem</span></h4>
								  <h4>Sep 5TH, 2013</h4>
							  </div>
								<div class="event-img">
								    <a href="blog.html"><img src="images/event-img6.jpg" alt="" /><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
							  <div class="event-time">
								<h4><span>sed quia non numqua</span></h4>
								  <h4>Sep 20Th, 2013</h4>
							  </div>
							     <div class="event-img">
								    <a href="blog.html"><img src="images/event-img1.jpg" alt="" /><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
							  <div class="event-time">
								<h4><span>sed quia non numqua</span></h4>
								  <h4>Sep 20Th, 2013</h4>
							  </div>
							     <div class="event-img">
								    <a href="blog.html"><img src="images/event-img1.jpg" alt="" /><span>Read More</span></a>
							   </div>
							</div>
							<div class="grid_1_of_3 events_1_of_3">
							  <div class="event-time">
								<h4><span>sed quia non numqua</span></h4>
								  <h4>Sep 20Th, 2013</h4>
							  </div>
							     <div class="event-img">
								    <a href="blog.html"><img src="images/event-img1.jpg" alt="" /><span>Read More</span></a>
							   </div>
							</div>

					   </div>
	        		</div>
	        	</div>
	        </div>
		   </div>
      </body>
 </html>

