<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2 th:text="#{home.welcome}">Hello World! (design)</h2>
<h3 sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin Portal</a></h3>
<h3><a href="beers" th:text="#{home.beers}">Beers</a></h3>
<h3><a href="users" th:text="#{home.users}">Users</a></h3>
<h3><a href="login" th:text="#{home.login}">Login</a></h3>
<h3><a href="register" th:text="#{home.register}">Register</a></h3>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>