<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/slider.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/slidermodernizr.custom.js"></script>
</head>
<body>

<!------ Background slider ------->
<div class="slider">
    <ul id="cbp-bislideshow" class="cbp-bislideshow">
        <li><img src="resources/static/images/1.jpg" alt="image01"/></li>
        <li><img src="images/2.jpg" alt="image02"/></li>
        <li><img src="images/3.jpg" alt="image03"/></li>
        <li><img src="images/4.jpg" alt="image04"/></li>
        <li><img src="images/5.jpg" alt="image05"/></li>
        <li><img src="images/6.jpg" alt="image06"/></li>
    </ul>
    <script src="js/jquery.imagesloaded.min.js"></script>
    <script src="js/cbpBGSlideshow.min.js"></script>
    <script>
        $(function () {
            cbpBGSlideshow.init();
        });
    </script>
</div>
<!------ End Background slider ------->
<div class="header_top">
    <div class="wrap">
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="Beer Tag"></a>
        </div>
        <div class="social-icons">
            <ul>
                <li><a class="facebook" href="https://facebook.com" target="_blank"> </a></li>
                <li><a class="twitter" href="https://twitter.com" target="_blank"></a></li>
                <li><a class="telerikacademy" href="https://telerikacademy.com" target="_blank"></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

</div>
<div class="header_bottom">
    <div class="wrap">
        <div class="menu">
            <!--                <h3 sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin Portal</a></h3>-->
            <!--                <h3><a href="beers" th:text="#{home.beers}">Beers</a></h3>-->
            <!--                <h3><a href="users" th:text="#{home.users}">Users</a></h3>-->
            <!--                <h3><a href="login" th:text="#{home.login}">Login</a></h3>-->
            <!--                <h3><a href="register" th:text="#{home.register}">Register</a></h3>-->
            <!--                <form th:action="@{/logout}" method="post">-->
            <!--                    <input type="submit" value="Logout">-->
            <!--                </form>-->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/beers">List of Beers</a></li>
                <li><a href="/beers/create">Create Beer</a></li>
                <li><h3><a href="users" th:text="#{home.users}">Users</a></h3></li>
                <li><a href="register" th:text="#{home.register}">Register</a></li>
                <!--                <li><a href="/contact">Contact</a></li>-->
                <!--                <li><a href="/register">Registration</a></li>-->

                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout">
                </form>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>

