<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<h2>Register Page</h2>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"/>
</p>


<form action="#" th:action="@{/register}" th:object="${userReg}" method="post">

    <label>User name:</label>
    <input type="text" th:field="*{username}"/>
    </br>
    </br>
    <label>Password:</label>

    <input type="password" th:field="*{password}"/>

    <label>Email:</label>
    </br>
    </br>
    <input type="email" th:field="*{email}"/>
    </br></br>
    <input type="submit" value="Register"/>
</form>
<h3><a href="/login">Login</a></h3>
<h3><a href="/">Home Page</a></h3>
</body>
</html>