<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/beers">List of Beers</a></li>
<li><a href="/beers/create">Create Beer</a></li>
<li><a href="register" th:text="#{home.register}">Register</a></li>
<div th:if="${users.isEmpty()}">
    <h2 th:text="#{users.emptytitle}">No Users</h2>
</div>

<div th:unless="${users.isEmpty()}">
    <h2 th:text="#{users.title}">Users</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{users.header.id}">ID</div>
            <div class="cell" th:text="#{users.header.name}">Name</div>
            <!--<div class="cell" th:text="#{employees.header.department}">Department</div>-->
        </div>
        <div class="row" th:each="user : ${users}">
            <div class="cell" th:text="${user.id}">1</div>
               <a th:href="@{/users/{name}(name=${user.username})}">
            <div class="cell" th:text="${user.username}">Petar</div>
               </a>
            <!--<div class="cell" th:text="${employee.department.name}">Training</div>-->
        </div>
    </div>
</div>
</body>

<a href="/">
    <h3 class="cell">Return to Home</h3>
</a>
</html>