<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>BeerProfile</title>
    <!--    <link rel="stylesheet" href="../css/beerprofile.css">-->
</head>
<body>

<!--TODO Show Top 3 BEERS!-->


<div>
    <p><a th:href="@{{link}(link=${user.picture})}" target="_blank">
        <img th:src="${user.picture}" th:alt="${user.picture}" width="550" height="350"></a>
    </p>
    <p>
    <div class="cell" th:text="${user.username}">BeerName</div>
    <h1>-----------------------------------------------------------</h1>
    <td><a th:href="'mailto:' + ${user.email}" th:text="${user.email}">Email</a></td>
    </p>
</div>


<div th:if="${listTop.isEmpty()}">
    <h2 th:text="#{user.emptytitle}">No Rated Beers</h2>
</div>


    <h2 th:text="#{user.rating}">Top Three Beers</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{users.header.id}">Rating</div>
            <div class="cell" th:text="#{users.header.name}">Beer</div>
            <!--<div class="cell" th:text="#{employees.header.department}">Department</div>-->
        </div>
        <div class="row" th:each="rating : ${listTop}">
            <div class="cell" th:text="${rating.rating}">10</div>
            <a th:href="@{/beers/{name}(name=${rating.beer.id})}">
                <div class="cell" th:text="${rating.beer.beerName}">BeerName</div>
            </a>
            <!--<div class="cell" th:text="${employee.department.name}">Training</div>-->
        </div>
</div>
</form>




<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{../admin/users/{name}(name=${user.username})}" method="get">
    <button type="submit" value="Edit User" >Edit User</button>
</form>




<a href="../users">
    <h3 class="cell">Return to Users</h3>
</a>
</body>
</html>
